<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Traveling salesman problem (TSP) using k-nearest neighbors algorithm</title>
    <link type="text/css" rel="stylesheet" href="{{ asset('bundles/app/css/main.css') }}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/css/select2.min.css" rel="stylesheet" />
    <link href ="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">

</head>

<body>
<main>
<div class="card text-center">
    <div class="card-body">
        <h4 class="card-title">Travelling salesman problem (TSP)</h4>
        <p class="card-text">
            Demonstration of nearest neighbour algorithm for the travelling salesman problem (TSP).
        </p>
        <a href="https://en.wikipedia.org/wiki/Travelling_salesman_problem" class="btn btn-primary">More Info</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3"><br>
            {% block body %}{% endblock body %}
        </div>
    </div>
</div>
</main>






<footer class="footer">
    <p class="row marketing"></p>
    <div class="container">
        <p>
            <span class="text-muted footer-span-padding">developed by Eric Shishko</span>
            <span class="text-muted"><a href="mailto:it17072@llu.lv">it17072@llu.lv</a></span>
        </p>
        <p>
        </p>
    </div>
</footer>











<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2/js/select2.min.js"></script>
<script>
    $('select[data-select="true"').select2();
</script>
{% block javascript %}{% endblock javascript %}
</body>

</html>
