{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% include 'AppBundle:tour:tour_form.html.twig' %}


                <br>
                <div class="form-group">
                    <a href="{{ path('homepage') }}">List of Your Tours</a>
                    <a href="{{ path('tour') }}" class="btn btn-info">Add new Tour</a>
                    <a href="{{ path('tour.delete', { 'tour': tour.id }) }}"
                       data-method="delete"
                       class="btn btn-danger delete-button">Delete Tour</a>
                </div>
            </div>
        </div>
    </div>

{% endblock body %}

{% block javascript %}
<script>
    $('.delete-button').on('click',function(){
        var $form = $('<form/>').hide();

        //form options
        $form.attr({
            'action' : $(this).attr('href'),
            'method':'post'
        })

        //adding the _method hidden field
        $form.append($('<input/>',{
            type:'hidden',
            name:'_method'
        }).val($(this).data('method')));

        //adding a CSRF if needs
        if ($(this).data('csrf'))
        {
            var csrf = $(this).data('csrf').split(':');
            $form.append($('<input/>',{
                type:'hidden',
                name:csrf[0]
            }).val(csrf[1]));
        }

        //add form to parent node
        $(this).parent().append($form);

        $form.submit();

        return false;
    });
</script>

{% include 'AppBundle:tour:tour_scripts.html.twig' %}
{% endblock javascript %}