<table id="tour_table">
    <caption id="tour_table_caption"></caption>
    <thead id="tour_table_thead">
    <tr>
        <th>Cities Distance</th>
        {% for city in tour.cities %}
            <th id="to_city_{{ city.id }}">{{ city.name }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody id="tour_table_tbody">
    {% for fromCity in tour.cities %}
        <tr>
            <td id="from_city_{{ fromCity.id }}">{{ fromCity.name }}</td>
            {% for toCity in tour.cities %}
                <td>
                    {% if toCity.id == fromCity.id %}
                        -
                    {% else %}
                        {{ distance(fromCity, toCity) }}
                    {% endif %}
                </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>
</table>
<form action="" class="">
    <label for="start_city">Choice Start City</label>
    <select name="start_city" id="start_city" data-select="true">
        {% for city in tour.cities %}
            <option value="{{ city.id }}">{{ city.name }}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary" onclick="return nearest(this)">Start</button>
    <br>
    <span id="result"></span>
</form>