{% extends '@App/layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                {% for tour in tours %}
                    <table id="tour_table_{{ tour.id }}">
                        <thead>
                        <tr>
                            <th>Cities Distance</th>
                            {% for city in tour.cities %}
                                <th id="from_city_{{ tour.id }}_{{ loop.index0 }}">{{ city.name }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for fromCity in tour.cities %}
                            <tr>
                                <td id="from_city_{{ tour.id }}_{{ loop.index0 }}">{{ fromCity.name }}</td>
                                {% for toCity in tour.cities %}
                                    {% if toCity.id == fromCity.id %}
                                        <td>-</td>
                                    {% else %}
                                        <td>{{ distance(fromCity, toCity) }}</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <form action="" class="">
                        <label for="start_city">Choice Start City</label>
                        <select name="start_city" id="start_city">
                            {% for city in tour.cities %}
                                <option value="{{ city.name }}">{{ city.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Start</button>
                    </form>
                {% endfor %}
                <a href="{{ path('tours') }}">List of Your Tours</a> <br>
                <a href="{{ path('tour') }}">Add new Tour</a>
            </div>
        </div>
    </div>
{% endblock body %}
