main {
    margin-bottom: 20px;
}

.footer {
    padding-top: 1.5rem;
    color: #777;
    border-top: .05rem solid #e5e5e5;
}

.footer-span-padding {
    padding-right: 15%;
}

table{
    width: 100;
    font-family: 'Arial';
    margin: 25px auto;
    border-collapse: collapse;
    border: 1px solid #eee;
    border-bottom: 2px solid #00cccc;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
    0px 10px 20px rgba(0,0,0,0.05),
    0px 20px 20px rgba(0,0,0,0.05),
    0px 30px 20px rgba(0,0,0,0.05);
}

table tr{
    background: #f4f4f4;
}

table tr td{
    color: #555;
}

th, td {
    color: #999;
    border: 1px solid #eee;
    padding: 12px 35px;
    border-collapse: collapse;
}

th {
    background: #00cccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
}

table tbody tr.tr-active,
td.td-active {
    border: 3px solid red;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

td.td-active {
    border: 3px solid #ffa500;
}

.visited-column {
    text-decoration: line-through;
    color: #00b3ee;
}

button.disabled {
    cursor: not-allowed;
}

#tour_table_caption{
    /*float: right;*/
    caption-side: top;
    text-align: right;
    color: #7a43b6;
}