{% extends '@App/layout.html.twig' %}

{% block body %}
        <form action="{{ path('new_city') }}" method="post">
            <div class="form-group">
                <label for="new_city_txt">New City Name</label>
                <input class="form-control" id="new_city_txt" name="city"> <br>
            </div>
            {% for city in cities %}
                <div class="form-group">
                    <label for="{{ city.name }}_txt">Distance To {{ city.name }}</label>
                    <input class="form-control" id="{{ city.name }}_txt" name="{{ city.name }}_distance"> <br>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

{% endblock body %}