{% extends '@App/layout.html.twig' %}

{% block body %}
    <h1>List Of All Your Tours</h1>
    <p>
        You can create the list of cities you wanna visit by creating new Tour.
        Than simply choice your start city and watch how nearest neighbour algorithm will find the best route for your trip based on cities distance info.
    </p>
    {% for tour in tours %}
        <p><a href="{{ path('tour.list', {'tour': tour.id }) }}">{{ tour.name }}</a></p>
    {% endfor %}

    <a href="{{ path('tour') }}" class="btn btn-info">Add new Tour</a>

    <br><br>
    <h2>Example</h2>

    {% include 'AppBundle:tour:tour_form.html.twig' with {'tour' : example_tour }%}
{% endblock body %}

{% block javascript %}
    {% include 'AppBundle:tour:tour_scripts.html.twig' %}
{% endblock javascript %}